
/* hero section */
.weather-summary, .hourly-forecast, .section-heading {
    background-color: #151e21;
    color: white;
    /* gap: 2rem; */

  }
  
  .summary-left,
  .summary-icon,
  .summary-right {
    min-height: 250px;
    border: solid rgb(65, 65, 65) 1px;
   

  }
 
  /* custom image for iconSummary */
  .custom-image{
      height: 7.5rem;
      width: 7.5rem;
     
  }

.section-divider {
  height: 0.0625rem; 
  background: rgba(255, 255, 255, 0.6);
}


/* hourly forecast css */
body {
  background-color: #151e21 !important;
  color: white !important;
}

.hourly-forecast {
  background-color: #151e21;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.hourly-scroll-container {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
}

.hourly-item {
  flex: 0 0 auto;
  text-align: center;
  min-width: 60px;
  background-color: #2a3b44;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  transition: transform 0.2s ease;
}

.hourly-item:hover {
  transform: scale(1.1);
}

.hourly-icon {
  width: 40px;
  height: 40px;
}

.hourly-scroll-container::-webkit-scrollbar {
  height: 5px;
}

.hourly-scroll-container::-webkit-scrollbar-thumb {
  background-color: #607d8b;
  border-radius: 10px;
}


/* weekly forecast */
/* weekly forecast */
.weekly-forecast p {
  font-size: 1.5rem; /* Default size for all screens */
  min-width: 60px; /* Set a minimum width */
  margin: 0; /* Remove any default margin */
}

/* Responsive adjustments for font size and min-width */
@media (max-width: 1200px) {
  .weekly-forecast p {
    font-size: 1.75rem;
    min-width: 55px; /* Adjust min-width */
  }
}

@media (max-width: 992px) {
  .weekly-forecast p {
    font-size: 1.5rem;
    min-width: 50px; /* Adjust min-width */
  }
}

@media (max-width: 768px) {
  .weekly-forecast p {
    font-size: 1.25rem;
    min-width: 45px; /* Adjust min-width */
  }
}

@media (max-width: 576px) {
  .weekly-forecast p {
    font-size: 1rem;
    min-width: 40px; /* Adjust min-width */
  }
}

.icon-container {
  width: 50px; /* Adjust this to your desired width */
  height: 50px; /* Adjust this to your desired height */
}
