
/* hero section */
.weather-summary, .hourly-forecast, .section-heading {
    background-color: #151e21;
    color: white;
    /* gap: 2rem; */

  }
  
  .summary-left,
  .summary-icon,
  .summary-right {
    min-height: 250px;
    border: solid rgb(65, 65, 65) 1px;
   

  }
  
  /* Media query for screens smaller than 580px */
  @media (max-width: 576px) {
    :root {
        font-size: 8px !important; /* Adjust the base font size */
    }
  
    .input-search {
        width: 50vw !important; 
    }
  
    .summary-left,
    .summary-icon,
    .summary-right {
        margin: 1.5rem 0 !important;
        min-height: 200px !important;
        max-width: 100%;
        padding: 2rem 0.5rem;
      
    }
    .custom-image{
      height: 60px;
      width: 60px;
      max-width: 100%;
  }
  .section-title {
    text-align: center;
  }
  .section-divider {
    height: 0.0625rem; 
    background: rgba(255, 255, 255, 0.6);
    margin: 0.5rem 0; 
    width: 100vw !important; 
  }
  
  }

  
  /* custom image for iconSummary */
  .custom-image{
      height: 120px;
      width: 120px;
      max-width: 100%;
  }

.section-divider {
  height: 0.0625rem; 
  background: rgba(255, 255, 255, 0.6);
  margin: 0.5rem 1rem; 
}