
:root {
 
  font-style: normal;
  line-height: 1.5;
  font-size: 16px;
  /* padding: 0.5rem 2rem; */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #151e21;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (max-width: 580px) {
  :root {
    font-size: 10px; /* Adjust the font size as needed */
    
  }
}



